<footer >
    <div class="strip">
        
    </div>
    <div class="upper container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h3></h3>
                <p>更多查詢, 請透過 WHATSAPP <a href="https://wa.me/85255043451">+852 55043451</a> 或 INSTAGRAM <a href="https://www.instagram.com/teefans/">"teefans"</a> 聯絡我們</p>
            </div>
        </div>
    </div>
    <div class="lower container-fluid">
        <div class="row justify-content-between">
            <div class="col-auto text-left"> 
                <p>Fashioner© 2020. All rights reserved</p> 
            </div> 
            <div class="social col-auto text-right ">

                
                <a href="https://wa.me/85255043451"><img src= "assets/icons/wtsapp.png"></a>
                <a href="https://www.instagram.com/teefans/"><img src= "assets/icons/ig.png"></a>
                <a href="mailto:cosinihk@email.com"><img src= "assets/icons/email.png"></a>   
                <!--<a href="facebooklink"><img src= "assets/icons/fb.png"></a>-->  
                
            </div>
        </div>    
    </div>    
</footer>